{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}

    {{ form_agendamento.media }}

    <div>
        <h2>Agendamento</h2>
    </div>

    {% if request.GET.edit == "True" %}
        {% if user.tipo_usuario == 'admin' or user.tipo_usuario == 'secretary' %}
            <form method="get" action=".">
                <div class="input-group mb-3">
                    <button class="btn btn-danger" name="edit" value="False">Cancelar</button>
                </div>
            </form>

            <form method="post" action="{% url 'agendamento' agendamento.id %}">
                {% csrf_token %}
                <div class="form-body">

                    <div class="form-group mb-2">
                        {{ form_agendamento.paciente_id|as_crispy_field }}
                    </div>

                    <div class="form-group mb-2">
                        {{ form_agendamento.medico_id|as_crispy_field }}
                    </div>

                    {% if user.tipo_usuario == 'admin' %}
                        <div class="form-group mb-2">
                            {{ form_agendamento.secretario_id|as_crispy_field }}
                        </div>
                    {% endif %}

                    <div class="form-group mb-2">
                        {{ form_agendamento.data_hora|as_crispy_field }}
                    </div>

                    <div class="form-group mb-4">
                        {{ form_agendamento.especialidade|as_crispy_field }}
                    </div>

                    <div class="form-group mb-5">
                        {{ form_agendamento.teleconsulta|as_crispy_field }}
                    </div>

                    <button type="submit" name="form-agendamento" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        {% endif %}
    {% else %}
        {% if user.tipo_usuario == 'admin' or user.tipo_usuario == 'secretary' %}
            <form method="get" action=".">
                <div class="input-group mb-3">
                    <button class="btn btn-primary" name="edit" value="True">Editar</button>
                </div>
            </form>
        {% endif %}

        <form method="post" action="{% url 'agendamento' agendamento.id %}">
            <fieldset disabled="disabled">
                {% csrf_token %}
                <div class="form-body">

                    <div class="form-group mb-2">
                        {{ form_agendamento.paciente_id|as_crispy_field }}
                    </div>

                    <div class="form-group mb-2">
                        {{ form_agendamento.medico_id|as_crispy_field }}
                    </div>

                    {% if user.tipo_usuario == 'admin' %}
                        <div class="form-group mb-2">
                            {{ form_agendamento.secretario_id|as_crispy_field }}
                        </div>
                    {% endif %}

                    <div class="form-group mb-2">
                        {{ form_agendamento.data_hora|as_crispy_field }}
                    </div>

                    <div class="form-group mb-4">
                        {{ form_agendamento.especialidade|as_crispy_field }}
                    </div>

                    <div class="form-group mb-5">
                        {{ form_agendamento.teleconsulta|as_crispy_field }}
                    </div>
                </div>
            </fieldset>
        </form>


    {% endif %}

{% endblock %}