{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}

    {{ form_agendamento.media }}

    <script>
        $(document).ready(function ($) {
            $(".table-row").click(function () {
                console.log("teste")
                window.document.location = $(this).data("href");
            });
        });
    </script>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#exampleModal">Criar</button>
    <a href="{% url 'agenda' %}" type="button" class="btn btn-warning mb-3">Atualizar</a>

    {% if created %}
        <div class="alert alert-success" role="alert">
            Criado criado com sucesso
        </div>
    {% endif %}

    <!-- Create Modal -->
    <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" id="myModal" role="document">
            <div class="modal-content">
                <form method="post" action="{% url 'criar_agendamento' %}">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Criar agendamento</h5>
                        <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group mb-2">
                            {{ form_agendamento.paciente_id|as_crispy_field }}
                        </div>

                        <div class="form-group mb-2">
                            {{ form_agendamento.medico_id|as_crispy_field }}
                        </div>

                        {% if user.tipo_usuario == 'admin' %}
                            <div class="form-group mb-2">
                                {{ form_agendamento.secretario_id|as_crispy_field }}
                            </div>
                        {% endif %}

                        <div class="form-group mb-2">
                            {{ form_agendamento.data_hora|as_crispy_field }}
                        </div>

                        <div class="form-group mb-4">
                            {{ form_agendamento.especialidade|as_crispy_field }}
                        </div>

                        <div class="form-group mb-2">
                            {{ form_agendamento.teleconsulta|as_crispy_field }}
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" name="form-agendamento" class="btn btn-primary">Criar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <table class="table table-hover">
        <thead class="thead-dark">
        <tr class="table-dark">
            <th>Paciente</th>
            <th>Médico</th>
            <th>Secretário</th>
            <th>Data e hora</th>
            <th>Especialidade</th>
            <th>É teleconsulta</th>
        </tr>
        </thead>
        <tbody>
        {% if meetings %}
            {% for meeting in meetings %}
                <tr class='clickable-row table-row' data-href="{% url 'agendamento' meeting.id %}?edit=False"
                    style="cursor:pointer">
                    <td>{{ meeting.paciente_id }}</td>
                    <td>{{ meeting.medico_id }}</td>
                    <td>{{ meeting.secretario_id }}</td>
                    <td>{{ meeting.data_hora }}</td>
                    <td>{{ meeting.get_especialidade_display }}</td>
                    <td>{% if meeting.teleconsulta %}Sim{% else %}Não{% endif %}</td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}