{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
    {# DatePicker links and scripts #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css"
          integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"
            integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $("#id_data_nascimento").datepicker({
                format: 'dd/mm/yyyy',
            });
        });
    </script>

    <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link {% if active_tab == 'cadastro' %}active{% endif %}" id="cadastro-tab"
                    data-bs-toggle="pill" data-bs-target="#cadastro" type="button" role="tab" aria-controls="cadastro"
                    aria-selected="true">Cadastro
            </button>
            <button class="nav-link {% if active_tab == 'medico' %}active{% endif %}" id="dados-medicos-tab"
                    data-bs-toggle="pill" data-bs-target="#dados-medicos" type="button" role="tab"
                    aria-controls="dados-medicos" aria-selected="false">Dados do médico
            </button>
        </div>
        <div class="tab-content" id="v-pills-tabContent">

            {#  Aba dados cadastrais  #}
            <div class="tab-pane fade {% if active_tab == 'cadastro' %}show active{% endif %}" id="cadastro"
                 role="tabpanel" aria-labelledby="cadastro-tab">
                <div class="mb-5">
                    <h2>Dados cadastrais</h2>
                </div>

                <form method="post">
                    <fieldset {% if user.tipo_usuario == "doctor" %}disabled="disabled"{% endif %}>
                        {% csrf_token %}

                        <div class="form-group mb-2">
                            {{ form_usuario.first_name|as_crispy_field }}
                        </div>

                        <div class="form-group mb-2">
                            {{ form_usuario.last_name|as_crispy_field }}
                        </div>

                        <div class="form-group mb-2">
                            {{ form_usuario.email|as_crispy_field }}
                        </div>

                        <div class="form-group mb-2">
                            {{ form_usuario.sexo|as_crispy_field }}
                        </div>

                        <div class="form-group mb-5">
                            {{ form_usuario.data_nascimento|as_crispy_field }}
                        </div>

                        {% if user.tipo_usuario != "doctor" %}
                            <div class="form-group">
                                <input type="submit" value="Salvar" name="form-usuario" class="btn btn-primary">
                            </div>
                        {% endif %}
                    </fieldset>
                </form>
            </div>

            {#  Aba dados do médico  #}
            <div class="tab-pane fade {% if active_tab == 'medico' %}show active{% endif %}" id="dados-medicos"
                 role="tabpanel" aria-labelledby="dados-medicos-tab">
                <form method="post">
                    <div class="mb-5">
                        <h2>Dados do médico</h2>
                    </div>
                    {% csrf_token %}

                    <div class="form-group mb-5">
                        {{ form_medico.registro_profissional|as_crispy_field }}
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Salvar" name="form-medico" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}